.random-bird {
  display: flex;
  padding: 1rem;
  margin-bottom: 25px;
  background-color: #303030;
  border-radius: .25rem;

  .bird-img {
    width: 200px;
    height: 155px;
    border-radius: 10px;
    margin: 0;
  }
  .bird-content {
    width: calc(100% - 240px);
    margin-left: 40px;
  }
  .bird-title {
    font-size: 2rem;
    color: white;
    line-height: 1.2;
    margin: 15px 0;
    border-bottom: 1px solid #555;
    padding: .25rem .25rem .6rem;
  }
  .audio-player {
    margin: 10px 40px 8px 0;
    width: 100%;
    min-width: 100px;
  }
}
